.page-footer {
  height: 96px;
  background-color: $background-footer;
  display: flex;
  align-items: center;
}

.page-footer__wrapper {
  @include wrapper;

  position: relative;
  display: flex;
  justify-content: space-between;
}
