body {
  @include base-text;

  margin: 0;
  padding: 0;
  background-color: $background;
}

input {
  @include base-text;
}

button {
  @include base-text;

  border: none;
}

a {
  @include base-text;

  text-decoration: none;
}

.visually-hidden {
  display: none;
}
