// fonts

$merriweather: "Merriweather", "Arial", sans-serif;

// colors
$white: #fff;
$basic: #343030;
$background: #f6f3f3;
$line-color:  #e1e1e1;
$button-color: #403432;
$button-hover: #776763;
$button-disabled: #c1b4b1;
