// fonts

$merriweather: "Merriweather", "Arial", sans-serif;

// colors
$white: #fff;
$basic: #343030;
$background-footer: #eceaea;
$grey: #9e9e9e;
$grey-2: #a0a0a0;
$brown: #5b3a32;
$background: #f6f3f3;
$line-color:  #e1e1e1;
$line-color-2: #e7e7e7;
$button-color: #403432;
$button-hover: #776763;
$button-disabled: #c1b4b1;
